$btn-color: #3c8cdd;
$success-color: #80e9ad;
$error-color: #f07979;

@mixin answer-coloring($color) {
  background-color: $color;
  color: white;

  .btn {
    background-color: darken($color, 30%);
    &:hover {
      background-color: darken($color, 40%);
    }
  }
}

.btn {
  border-radius: 8px;
  background-color: $btn-color;
  color: white;
  font-size: 1.4em;
  text-align: center;
  padding: 10px;
  box-shadow: black 1px 1px 10px;
  outline: none;

  &:hover {
    background-color: darken($btn-color, 10%);
  }
}

.card-container-base {
  margin: 10px auto;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.card-normal-text {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}