<!doctype html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueFun</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link type="text/css" rel="stylesheet" href="css/foundation.min.css">
    <link type="text/css" rel="stylesheet" href="css/app.css"/>
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">Ty</h1>
            <div class="healthbar">
                <div class="healthbar text-center"
                     style="background-color: green; margin: 0; color:white"
                     :style="{width: playerHp+'%'}"
                >
                    {{playerHp}}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">Przeciwnik</h1>
            <div class="healthbar">
                <div class="healthbar text-center"
                     style="background-color: green; margin: 0; color:white"
                     v-bind:style="{width: `${enemyHp}%`}"
                >
                    {{enemyHp}}
                </div>
            </div>
        </div>
    </section>
    <section v-if="!isRunning" class="row controls">
        <div class="small-12 columns">
            <button @click="startGame" id="start-game">Zacznij</button>
        </div>
    </section>
    <section v-if="isRunning" class="row controls">
        <div class="small-12 columns">
            <button @click="attack" id="attack">Atakuj</button>
            <button @click="specialAttack" id="special-attack">Atak specjalny</button>
            <button @click="heal" id="heal">lecz</button>
            <button v-on:click="surrender" id="give-up">poddaj się</button>
        </div>
    </section>
    <section class="row log" v-if="log.length > 0">
        <div class="small-12 columns">
            <ul>
                <li v-for="msg of log" :style="{color: msg.actionColor}" :key="msg.key">
                    {{`${msg.person} ${msg.action} ${msg.value}`}}
                </li>
            </ul>
        </div>
    </section>
</div>
<script type="application/javascript" src="app.js"></script>
</body>
</html>